<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

{#    приложение message #}
{% if messages %}
    <h1>ОПОВЩЕНИЕ</h1>
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div >
    <form method="post">
        {% csrf_token %}

        {{ form.as_div }}
        <input type="submit"  value="Зарегистрироваться">
    </form>

    <a href="{% url 'log in' %}">Назад</a>
</div>
</body>
</html>