{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form>
        {{ form.as_div }}

        <button type="submit" class="btn btn-info">Применить фильтр</button>
    </form>

    {% if perms.magazine.add_product or perms.magazine.add_supplier %}
        <div class="container">
            {% if perms.magazine.add_product %}
                <a href="{% url 'create_product_page' %}" class="btn btn-success">Создать товар</a>
            {% endif %}

            {% if perms.magazine.add_supplier %}
                <a href="{% url 'add' %}" class="btn btn-success">Создать поставщика</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            {% for object in list_object %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        {% if object.photo %}
                            <img src="{{ object.photo.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static 'magazine/image/98094191.jpg' %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                Категория: {{ object.category.name }}</h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                Теги: {% for tag in object.tag.all %} {{ tag.name }}. {% endfor %}
                            </h6>
                            <p class="card-text">{{ object.description }}</p>
                            <p class="card-text">Цена: {{ object.price }}</p>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'product_detail_page' object.pk %}"
                                   class="btn btn-primary">Подробнее</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}

{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Каталог книг (по фильтрации)</title>#}
{#    <link rel="stylesheet" href="{% static 'magazine/css/bootstrap.css' %}">#}
{##}
{#    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">#}
{#        <symbol id="info-fill" viewBox="0 0 16 16">#}
{#            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>#}
{#        </symbol>#}
{#        <symbol id="success-fill" viewBox="0 0 16 16">#}
{#            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>#}
{#        </symbol>#}
{#        <symbol id="warning-fill" viewBox="0 0 16 16">#}
{#            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>#}
{#        </symbol>#}
{#        <symbol id="danger-fill" viewBox="0 0 16 16">#}
{#            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>#}
{#        </symbol>#}
{#    </svg>#}
{##}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-8">#}
{#                <ul>#}
{#                    {% if request.user.is_anonymous %}#}
{#                        <li><a class="btn btn-primary" href="{% url 'log in' %}">Авторизация</a></li>#}
{#                        <li><a class="btn btn-primary" href="{% url 'regis' %}">Регистрация</a></li>#}
{#                    {% else %}#}
{#                        <li><a class="btn btn-primary" href="{% url 'log out' %}">Выход из аккаунта</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-4">#}
{#                Здравствуйте, {{ user }}#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{##}
{##}
{#    <h1>Каталог книг</h1>#}
{##}
{#    {% if messages %}#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                {% for message in messages %}#}
{#                    {% if message.tags == 'error' %}#}
{##}
{#                        <div class="alert alert-danger d-flex align-items-center" role="alert">#}
{#                            <svg class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 " role="img"#}
{#                                 aria-label="danger:">#}
{#                                <use xlink:href="#danger-fill"/>#}
{#                            </svg>#}
{#                            <div>#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="alert alert-{{ message.tags }} d-flex align-items-center" role="alert">#}
{#                            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ message.tags }}:">#}
{#                                <use xlink:href="#{{ message.tags }}-fill"/>#}
{#                            </svg>#}
{#                            <div>#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{##}
{##}
{##}
{##}
{##}
{##}
{#    <form>#}
{#        {{ form.as_div }}#}
{##}
{#        <button type="submit" class="btn btn-info">Применить фильтр</button>#}
{#    </form>#}
{##}
{#    {% if perms.magazine.add_product or perms.magazine.add_supplier %}#}
{#        <div class="container">#}
{#            {% if perms.magazine.add_product %}#}
{#                <a href="{% url 'create_product_page' %}" class="btn btn-success">Создать товар</a>#}
{#            {% endif %}#}
{##}
{#            {% if perms.magazine.add_supplier %}#}
{#                <a href="{% url 'add' %}" class="btn btn-success">Создать поставщика</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            {% for object in list_object %}#}
{#                <div class="col-4">#}
{#                    <div class="card" style="width: 18rem;">#}
{#                        {% if object.photo %}#}
{#                            <img src="{{ object.photo.url }}" class="card-img-top" alt="...">#}
{#                        {% else %}#}
{#                            <img src="{% static 'magazine/image/98094191.jpg' %}" class="card-img-top" alt="...">#}
{#                        {% endif %}#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ object.name }}</h5>#}
{#                            <h6 class="card-subtitle mb-2 text-body-secondary">#}
{#                                Категория: {{ object.category.name }}</h6>#}
{#                            <h6 class="card-subtitle mb-2 text-body-secondary">#}
{#                                Теги: {% for tag in object.tag.all %} {{ tag.name }}. {% endfor %}#}
{#                            </h6>#}
{#                            <p class="card-text">{{ object.description }}</p>#}
{#                            <p class="card-text">Цена: {{ object.price }}</p>#}
{#                            {% if request.user.is_authenticated %}#}
{#                                <a href="{% url 'product_detail_page' object.pk %}"#}
{#                                   class="btn btn-primary">Подробнее</a>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}