{% extends 'base.html' %}
{% load static %}

{% block title_name %}
    Поставщики
{% endblock %}

{% block content %}

    <p>
        <a href="{% url 'home_page' %}">На домашнюю страницу</a>
    </p>

    <div>
        <a href="{% url 'supplier_create' %}">Добавить поставщика</a>
    </div>


    <div>

        {% for supplier in list_sup %}
            -----------------------------------------------------------------
            <h1>{{ supplier.name }}</h1>

            <div>
                <p>
                    Фамилия:{{ supplier.agent_firstname }}<br>
                    Имя:{{ supplier.agent_name }}<br>
                    Отчество:{{ supplier.agent_patronymic }}<br>
                    Телефон:{{ supplier.agent_telephone }}<br>
                    Адрес:{{ supplier.address }}<br>
                </p>

                {#        <p>#}
                {#            <a href="{% url 'detail_suppliers_page' supplier.pk %}">Подробнее...</a>#}
                {#        </p>#}

                <h3>Товары и теги связанные с поставщиком</h3>
                {% for supply in supplier.supply_set.all %}
                    {% for product in supply.product.all %}
                        <h4>{{ product.name }}</h4>
                        {% for tag in product.tag.all %}
                            {{ tag.name }}.
                        {% endfor %}
                        <p>
                            Покупатели:
                            {% for order in product.order_set.all %}
                                {{ order.FIO_customer }}.
                            {% endfor %}
                        </p>


                    {% endfor %}
                {% endfor %}
            </div>
            -----------------------------------------------------------------
            <br>
        {% endfor %}


    </div>
{% endblock %}



{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Поставщики</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Поставщики</h1>#}
{#    <a href="{% url 'home_page' %}">Вернуться на домашнюю страницу</a>#}
{#    {% if messages %}#}
{#        <h1>Оповещение</h1>#}
{#        <ul class="messages">#}
{#            {% for message in messages %}#}
{#                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#    <div>#}
{#        <a href="{% url 'add' %}">Добавить поставщика</a>#}
{#    </div>#}
{#     <div>#}
{#         {% for supplier in list_sup %}#}
{##}
{#         <h1>{{ supplier.name }}</h1>#}
{#         <div>#}
{#             <p>#}
{#                 Фамилия: {{ supplier.agent_firstname }}#}
{#                 Имя: {{ supplier.agent_name }}#}
{#                 Отчество: {{ supplier.agent_patronymic }}#}
{#                 Телефон: {{ supplier.agent_telephone }}#}
{#                 Адрес: {{ supplier.address }}#}
{#             </p>#}
{#            <p>#}
{#                <a href="{% url 'detail_suppliers_page' supplier.pk %}">Подробнее...</a>#}
{#            </p>#}
{#         </div>#}
{#              -------------------------------------------------------------------#}
{#         {% endfor %}#}
{#     </div>#}
{##}
{#</body>#}
{#</html>#}