{% extends 'base.html' %}
{% load static %}

{% block title_name %}
	Подробнее о {{ object.name }}
{% endblock %}

{% block content %}
    <a href="{% url 'category_list' %}" class="btn btn-outline-primary">Обратно к списку категорий</a>

    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>

{% endblock %}
