{% extends 'base.html' %}

{% block title_name %}
    Пример фильтров Django
{% endblock %}

{% block content %}
    <h1>Пример фильтров Django</h1>
    <div>
        <p><b>add:</b> {{ digit|add:"6" }}</p>
        <p><b>add:</b> {{ string|add:"jd" }} </p>
        <p><b>addslashes:</b> {{ string|addslashes }}</p>
        <p><b>capfirst:</b> {{ string|capfirst }}</p>
        <p><b>center:</b>"{{ string|center:"50" }}"</p>
        <p><b>cut:</b>"{{ string|cut:" " }}"</p>
        <p><b>date:</b>{{ datetime|date:"d l W M Y e" }}</p>
        <p><b>default 1:</b>{{ var1|default:"d l W M Y e" }}</p>
        <p><b>default 2:</b>{{ var2|default:"never and nowhere" }}</p>
        <p><b>default 3:</b>{{ var3|default:"never and nowhere" }}</p>
        <p><b>default 2:</b>{{ var2|default_if_none:"never and nowhere" }}</p>
        <p><b>default 3:</b>{{ var3|default_if_none:"never and nowhere" }}</p>
        <p><b>dictsort:</b>{{ dict_col|dictsort:"price" }}</p>
        <p><b>dictsortreversed:</b>{{ dict_col|dictsortreversed:"price" }}</p>
        <p><b>divisibleby:</b>{{ digit|divisibleby:"3" }}</p>
        <p><b>divisibleby:</b>{{ digit|divisibleby:"9" }}</p>
        <p><b>filesizeformat:</b>{{ digit|add:"1974821"|filesizeformat }}</p>
        <p><b>first:</b>{{ digit|add:"1974821"|filesizeformat }}</p>
    </div>
{% endblock %}