{% extends 'base.html' %}

{% block title_name %}

{% endblock %}

{% block header %}
	{% include '_inc/_header_template.html' %}
{% endblock %}

{% block content %}
	<h1>Теги и фильтры</h1>
    <a href="{% url 'templates_filter_example' %}" class="btn btn-primary">Фильтры</a>
    <a href="{% url 'templates_tag_example' %}" class="btn btn-primary">Теги</a>
{% endblock %}