{% extends 'base.html' %}

{% block title_name %}
    Пример фильтров Django
{% endblock %}

{% block content %}
    <h1>Пример фильтров Django</h1>
    <div>
        <h2> autoescape </h2>
        <div>Управляет текущим автоматическим экранированием. (при передачи значений)</div>

        {% autoescape on %}
            {{ html_code }}
        {% endautoescape %}

        {% autoescape off %}
            {{ html_code }}
        {% endautoescape %}
    </div>

    <div>
        <h2> load </h2>
        <div>Загружает настраиваемый набор тегов шаблона.</div>
    </div>

    <div>
        <h2>extends</h2>
        <div>Сигнализирует, что этот шаблон расширяет родительский шаблон.</div>
    </div>


    <div>
        <h2> block </h2>
        <div>Определяет блок, который может быть переопределен дочерними шаблонами.</div>
    </div>

    <div>
        <h2> include </h2>
        <div>Загружает шаблон и отображает его с текущим контекстом. Это способ «включения» других шаблонов в шаблон.
        </div>
    </div>

    <div>
        <h2>comment</h2>
        <div>Блок комментариев</div>

        {% comment %}
            Этот коммент
            не будет
            выводиться
            на странице
        {% endcomment %}
    </div>

    <div>
        <h2>csrf_token¶</h2>
        <div>Этот тег используется для защиты CSRF</div>
        {% csrf_token %}
    </div>

    <div>
        <h2>if</h2>
        <div>Логический оператор</div>
        <ul>
            {% if var1 == None %}
                <h2>var1 равно None</h2>
            {% endif %}
        </ul>
    </div>


    <div>
        <h2>for</h2>
        <div>Перебор элементов</div>
        <ul>
            {% for item in some_list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>


    <div>
        <h2>for ... empty</h2>
        <div>empty выводить если список передаваемый в for был пуст</div>
        <ul>
            {% for item in some_list_empty %}
                <li>{{ item }}</li>
            {% empty %}
                <li>Список пуст :(</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>cycle</h2>
        <div>Циклично выводит элементы из списка хорошо работае с циклами</div>
        <table class="table">
            <tbody>
            {% for item in some_list %}
                <tr class="table-{% cycle 'primary' 'secondary' 'success' %}">
                    <td>{{ item }}</td>
                </tr>
                {#                Сбрасывает предыдущий cycle, так что он перезапускается с первого элемента при следующем проходе.#}
                {#                {% resetcycle %}#}

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>ifchanged</h2>
        <div>Проверяет, изменилось ли значение с последней итерации цикла</div>
        <table class="table">
            <tbody>
            {% for item in some_list %}
                <tr class="table-{% cycle 'primary' 'secondary' 'success' %}">
                    {% ifchanged %}
                        <td>{{ item }}</td>{% endifchanged %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>filter</h2>
        <div>Фильтрует содержимое блока с помощью одного или нескольких фильтров.
            С помощью конвейеров можно указать несколько фильтров, а фильтры могут иметь аргументы, как и в синтаксисе
            переменных.
        </div>
        {% filter force_escape|lower %}
            This text will be HTML-escaped, and will appear in all lowercase.
        {% endfilter %}
    </div>


    <div>
        <h2>firstof</h2>
        <div>Выводит первую переменную аргумента, которая не является «ложной»
            (т.е. существует, не пуста, не является ложным булевым значением и не является нулевым числовым значением).
            Ничего не выводит, если все переданные переменные «ложные».
        </div>
        {% firstof var1 var2 var3 var4 var5 %}
        {#        Эквивалетно #}
        {% if var1 %}
            {{ var1 }}
        {% elif var2 %}
            {{ var2 }}
        {% elif var3 %}
            {{ var3 }}
        {% elif var4 %}
            {{ var4 }}
        {% elif var5 %}
            {{ var5 }}
        {% endif %}
    </div>

    <div>
        <h2>now</h2>
        <div>Отображает текущую дату и/или время в формате, соответствующем заданной строке.</div>
        {% now 'jS F Y H:i' %}
        {% now 'DATETIME_FORMAT' %}
    </div>

    <div>
        <h2>spaceless</h2>
        <div>Удаляет пробелы между тегами HTML. Сюда входят символы табуляции и новые строки.</div>
        {% spaceless %}
            <p>
                <a href="foo/">Foo</a>
            </p>
        {% endspaceless %}
        {#    <p><a href="foo/">Foo</a></p> #}
    </div>

    <div>
        <h2>templatetag</h2>
        <div>Выводит один из синтаксических символов, используемых для создания тегов шаблона.</div>

        {% templatetag openblock %}
        {% templatetag closeblock %}
        {% templatetag openvariable %}
        {% templatetag closevariable %}
        {% templatetag openbrace %}
        {% templatetag closebrace %}
        {% templatetag opencomment %}
        {% templatetag closecomment %}
    </div>

    <div>
        <h2>url</h2>
        <div>Возвращает ссылку на абсолютный путь (URL без имени домена),
            соответствующую заданному представлению и необязательным параметрам.
        </div>
        {% url 'templates_tag_example' %}
    </div>



    <div>
        <h2>with</h2>
        <div>Кэширует сложную переменную под более простым именем.
            Это полезно при многократном доступе к «дорогостоящему» методу
            (например, тот, который делает запрос в базу данных).
        </div>

        {% with query=obj.category.name %}
            {{ query }}
        {% endwith %}
    </div>

    <div>
        <h2>lorem</h2>
        <div>Отображает случайный латинский текст «lorem ipsum».
            Это полезно для предоставления образцов данных в шаблонах.
        </div>

        {#        {% lorem [count] [method] [random] %}#}
        {#        count (1) - количество абзацев #}
        {#        method (b) - w - слова, p - абзац HTML, b - блок абзаца с обычным текстом #}
        {#        random - Слово random, если оно задано, не использует общий абзац («Lorem ipsum dolor sit amet…») при генерации текста. #}

        {% lorem 2 p random %}
    </div>


    <div>
        <h2>debug</h2>
        <div>Выводит целую кучу отладочной информации,
            включая текущий контекст и импортированные модули. {% debug %} ничего не выводит, если параметр DEBUG равен
            False.
        </div>

        {% debug %}
    </div>
{% endblock %}