{# Пример страницы ошибки #}

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container align-content-center">
    <h1>Ошибка 404. Страница к сожалению не найдена :(</h1>
    <img src="404.html" alt="...">
    </div>
{% endblock %}